<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:lang="http://www.springframework.org/schema/lang"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-4.0.xsd
      http://www.springframework.org/schema/util
	  http://www.springframework.org/schema/util/spring-util-4.0.xsd">
       
	<context:component-scan base-package="com.sykj.shenfu" />
	
	<mvc:default-servlet-handler/>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/images/**"/>
			<mvc:exclude-mapping path="/js/**"/>
			<mvc:exclude-mapping path="/css/**"/>
			<bean class="com.sykj.shenfu.common.BaseInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/manage/" />
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<mvc:annotation-driven>
		<mvc:message-converters>
			<ref bean="mappingJacksonHttpMessageConverter"/>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 配置Json对象 -->
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
	<!-- 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize" value="50485760000" />
		<property name="maxInMemorySize" value="409600000" />
	</bean>
	
	<!-- 事务 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource" />
		
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="active*" propagation="REQUIRED" />
			<tx:method name="send*" propagation="REQUIRED" />
			<tx:method name="cancel*" propagation="REQUIRED" />
			<tx:method name="get*" propagation="REQUIRED" />
			<tx:method name="commServerForSaleMPS" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	
	<aop:config proxy-target-class="true" >
		<aop:pointcut id="allManagerMethod" expression="execution(* com.sykj.shenfu.controller.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="allManagerMethod" />
	</aop:config>
	
	
	<!-- 配置拦截器 -->
    <mvc:interceptors>
    	<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
    </mvc:interceptors>
    <bean id="localeResolver" class="com.sykj.shenfu.common.MyAcceptHeaderLocaleResolver"/>
    
    <!-- 自动计算销售积分等级线程 -->
	<bean id="statsalescoreBean" class="com.sykj.shenfu.controller.StatsalescoreController" />
	<bean id="statSalescoreThread" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="statsalescoreBean" />
		<!-- 线程循环方法 -->
		<property name="targetMethod" value="saveStatSalescore" />
		<!-- 作业不并发调度 -->
		<property name="concurrent" value="false" />
	</bean>
	<bean id="autoStatSalescoreTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="statSalescoreThread" />
		<!-- 每天晚上23点触发 -->
		<property name="cronExpression" value="0 0 23 * * ?" />
	</bean>
    
    <!-- 线程计划任务管理 -->
	<bean id="startQuartz"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="autoStatSalescoreTrigger" />
			</list>
		</property>
	</bean>
</beans>